<fa-icon [icon]="faSignOut" id="signout" tooltip="Leave Room" placement="right" [showDelay]="500"></fa-icon>
<ng-container *ngIf="this.players$ | async as resolved">
    <app-playerlist [players]="resolved"></app-playerlist>
    <ng-container *ngIf="resolved.length >= 2 && (this.me$ | async) == (this.owner$ | async)">
        <hr>
        <div id="round-creation">
            <button id="create-button">Runde Erstellen</button>
            <fa-icon id="create-settings" [icon]="faCogs" (click)="toggleShowSettings()"></fa-icon>
            <div id="create-container" *ngIf="this.isShowingSettings$">
                <app-createround></app-createround>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-particles [id]="'particles'" [options]="particlesOptions"></ng-particles>
