<p>{{this.player["name"]}}</p>
<div class="cards">
    <ng-container *ngIf="this.roundState.inventorys$ | async as inventorys">
        <ng-container *ngIf="inventorys.get(this.player.uuid) != undefined">
            <div class="card-container" [ngStyle]="
            {rotate: inventorys.get(this.player.uuid)?.calculateRotation(index) + 'deg',
            'scale':(this.roundState.currentplayer$ | async)?.uuid == this.player.uuid ? '0.8' : '0.6',
            'transform':(inventorys.get(this.player.uuid)?.hoveredcard$ | async) == card ? 'translateY(-30px)' : ''}"
            *ngFor="let card of (inventorys.get(this.player.uuid)?.cards$| async); let index=index">
                <app-unocard [side]="'back'" [unucard]="card"></app-unocard>
            </div>
        </ng-container>

    </ng-container>
</div>
