<div class="card-container" *ngFor="let card of inventoryService.getCards(); let index=index"
    #element
    (click)="dropCard(element, card)"
    [ngClass]="this.gameService.getPlayer() == this.gameService.getCurrentPlayer() ? 'interactable': ''"
    [ngStyle]="{'transform': 
        'translateX('+(index*calculateXTranslate()-inventoryService.getCards().length*calculateXTranslate()/2 +15)+'px) rotate('+getRotation(index)+'deg)'}">
    <app-unocard [unocard]="card"></app-unocard>
</div>
<div class="controls">
    <fa-icon [icon]="faSort" (click)="inventoryService.sort()"></fa-icon>
    <fa-icon [icon]="faBullhorn" style="color: red;"></fa-icon>
</div>